<!-- <div class="content-container">
  <jad-sidebar class="sidenav"></jad-sidebar>
  <div class="content-area">
    <ul>
      <ng-template ngFor let-item [ngForOf]="createRange(30)" let-currentElementIndex="(index + 1)">
        <li><jad-student></jad-student></li>
      </ng-template>
    </ul>
  </div>
</div> -->

<!-- <div class="content-container"> -->
  <div class="content-area">
    <ul class="list">
      <ng-template ngFor let-item [ngForOf]="createRange(5)" let-currentElementIndex="(index + 1)">
        <li><jad-student></jad-student></li>
      </ng-template>
    </ul>
  </div>
  <jad-sidebar class="sidenav"></jad-sidebar>
<!-- </div> -->